aside {
    @extend .flex-column;
    width: 230px;
    min-height: 100vh;
    background: $light-grey;
    padding: 0 0.5rem;
    h1 {
        max-width: 100%;
        font-size: 2rem;
        line-height: 2rem;
        text-align: center;
        color: $dark-grey;
        font-family: 'Cookie', cursive;
    }

}
